@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grad-1{
    background: linear-gradient(0deg, rgba(115,115,115,0.15) 0%, rgba(255,255,255,0.06) 100%);
}

.bg-grad-2{
    background: linear-gradient(110deg, rgba(115,105,203,0.1) 0%, rgba(32,32,32,0.25) 100%);
}
.bg-grad-3{
    background: linear-gradient(140deg, rgba(3,3,3,0.2) 0%, rgba(0,79,85,0.1) 100%);
}

.svg-bg-grad{
    background: radial-gradient(circle, rgba(69, 40, 150, 0.1) 0%, rgba(26, 12, 82, 0.004) 70%);
}

.login-bg-grad{
    background: linear-gradient(90deg, rgba(0,212,255,0.04) 0%, rgba(9,9,121,0.05) 41%, rgba(2,0,36,0.05) 100%);
}

.dropShadowSVG{
    filter: drop-shadow(2mm 3mm 4mm rgba(77, 23, 152, 0.1));
}

.text-shadow-4xl{
    text-shadow: #ffffffaf 1px 1px 5px;
}
.text-shadow-2xl{
    text-shadow: #ffffffaf 1px 1px 3px;
}